body {
	font-family: 'Raleway Web', sans-serif;
}
.mostLovedUL {
	list-style: none;
	display: block;
}
.mostLovedLI {
	float: left;
	display: list-item;
}
.mostLoved {
	margin: 0 auto;
}
 

.logo {
	float: left;
 	padding: 1px;
	width: 10%;
	 

}
.cart {
	float: right;
	
	width: 5%;
	padding: 10px;
}
h1 {
	display: none;
}

img {
	height: auto;
	max-width: 100%;
}
header {
	margin-bottom: 10px;
	width: 100vw;

}
.largeTextItalic {
	font-style: italic;
	font-size: 38px;
}
.largeText {
	font-style: normal;
	font-size: 38px;
	font-weight: bold;
	font-family: 'Playfair Display Web', sans-serif;
}
.mediumText {
	font-size: 24px;
	font-family: 'Playfair Display Web', sans-serif;
	color: #E2574C;
}
 
.hero {
	background: linear-gradient( to bottom, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.25) 100% ),  url("../images/banner-girl.png") no-repeat center 60px, url("../images/flower-bkgd.jpg") repeat-x center top;
	background-size: cover, 250px 615px, contain;
	position: relative;

	height: 550px;
	color: white;
	text-align: center;
	width: 100vw;
}
.heroText {
position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
.newCollection , .season {
	color: white;
	vertical-align: center;
}
.newCollection {
	font-size: 1.5em;
} 
.season {
	font-family: 'Playfair Display Web', serif;
    font-size: 4rem;
    font-weight: normal;
    text-transform: none;
}
.handCrafted {
	width: 720px;
	margin: 0 auto;
}
.handCrafted, .mostLoved {
	text-align: center;
	/*font-size: 1.5rem;*/
	font-family: 'Playfair Display Web', serif;

}

.handCraftedParagraph  {
	font-size: 18px;
	font-weight: normal;
	font-family: 'Raleway Web', sans-serif;
	line-height: 36px;
}
hr {
	margin: 30px 0 30px 0;
}
.handCraftedStyle {	 
	font-style: italic;
	font-weight: bold;
	font-size: 2rem;

}
.bigBold {
	font-style: normal;
	font-weight: bold;
}

 

.subscribe {
	background: linear-gradient( to bottom, rgba(0,0,0,0.15) 0%, rgba(0,0,0,0.15) 100% ), url(../images/wave-bkgd.jpg) no-repeat center bottom;
	clear: both;
	margin-top: 20px;
	text-align: center;
	font-family: 'Raleway Web', sans-serif;
	line-height: 36px;
	height: 344px;
	color: white;
	width: 100vw; 
}
.subscribeParagraph {
	width: 720px;
	margin: 0 auto;
}
input[type="email"] {
    padding: .5rem 1.75rem;
    padding-right: 150px;
    width: 10%;
    border-radius: 25px;
}
input[type="button"] {
    background-color: #e2574c;
    border-radius: 25px;
}

.subscribeForm {
	display: block;
    margin: 2rem auto 0;
    position: relative;
    width: 67%;
}

 

address {
	color: #969696;
}
.phoneEmail {
	line-height: 1.5rem;
}
 
 
.clearfix {
  content: "";
  display: table;
  clear:both;
}
 
footer {
	background-color: #242424;
	color: white;
	width: 100vw;
}
footer  a {
	color: white;
}
 
.footerLeft,
.footerRight {
  margin: 10px;
  /*padding: 20px 0;*/
   
}
.footerLeft {
  float: left;
  width: 340px;
}
.footerRight {
  font-family: 'Raleway Web';		
  float: right;
  /*width: 43%;*/
  display: block;
}
.ulFooter {
	list-style: none;
}
.liFooter {
	display: block;
}
