/* Generic elements */
@font-face {
font-family: 'ralewaylight_italic';
src: url('../fonts/raleway-lightitalic-webfont.eot');
src: url('../fonts/raleway-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
     url('../fonts/raleway-lightitalic-webfont.woff2') format('woff2'),
     url('../fonts/raleway-lightitalic-webfont.woff') format('woff');
font-weight: lighter;
font-style: italic;

}




@font-face {
    font-family: 'ralewaymedium_italic';
    src: url('../fonts/raleway-mediumitalic-webfont.eot');
    src: url('../fonts/raleway-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-mediumitalic-webfont.woff2') format('woff2'),
         url('../fonts/raleway-mediumitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;

}




@font-face {
    font-family: 'ralewaylight';
    src: url('../fonts/raleway-light-webfont.eot');
    src: url('../fonts/raleway-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-light-webfont.woff2') format('woff2'),
         url('../fonts/raleway-light-webfont.woff') format('woff');
    font-weight: lighter;
    font-style: normal;

}




@font-face {
    font-family: 'ralewaymedium';
    src: url('../fonts/raleway-medium-webfont.eot');
    src: url('../fonts/raleway-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-medium-webfont.woff2') format('woff2'),
         url('../fonts/raleway-medium-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}
@font-face {
    font-family: 'playfair_displayregular';
    src: url('../fonts/playfairdisplay-regular-webfont.eot');
    src: url('../fonts/playfairdisplay-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/playfairdisplay-regular-webfont.woff2') format('woff2'),
         url('../fonts/playfairdisplay-regular-webfont.ttf') format('truetype'),
         url('../fonts/playfairdisplay-regular-webfont.svg#playfair_displayregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'playfair_displaybold';
    src: url('../fonts/playfairdisplay-bold-webfont.eot');
    src: url('../fonts/playfairdisplay-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/playfairdisplay-bold-webfont.woff2') format('woff2'),
         url('../fonts/playfairdisplay-bold-webfont.ttf') format('truetype'),
         url('../fonts/playfairdisplay-bold-webfont.svg#playfair_displaybold') format('svg');
    font-weight: bold;
    font-style: normal;

}




@font-face {
    font-family: 'playfair_displaybold_italic';
    src: url('../fonts/playfairdisplay-bolditalic-webfont.eot');
    src: url('../fonts/playfairdisplay-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/playfairdisplay-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/playfairdisplay-bolditalic-webfont.ttf') format('truetype'),
         url('../fonts/playfairdisplay-bolditalic-webfont.svg#playfair_displaybold_italic') format('svg');
    font-weight: bold;
    font-style: italic;

}




@font-face {
    font-family: 'playfair_displayitalic';
    src: url('../fonts/playfairdisplay-italic-webfont.eot');
    src: url('../fonts/playfairdisplay-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/playfairdisplay-italic-webfont.woff2') format('woff2'),
         url('../fonts/playfairdisplay-italic-webfont.ttf') format('truetype'),
         url('../fonts/playfairdisplay-italic-webfont.svg#playfair_displayitalic') format('svg');
    font-weight: normal;
    font-style: italic;

}
html {
	font-size: 16px;
}

body, button,
input, select, text area {
	color: #2d2d2d;
	font-family: 'Raleway Web', sans-serif;
	font-size: 1rem;
	font-style: normal;
	font-weight: normal;
	line-height: 2;
}

h1, h2, h3 {
   font-family: 'Playfair Display Web', serif;
   line-height: 1;
}
h2 {
   font-size: 2.4rem;
   font-style: italic;
   margin-bottom: 1.5rem;
}
h3 {
   color: #e2574c;
   font-size: 1.5rem;
   margin-bottom: 1rem;
}

a {
   color: #e2574c;
}

a:hover {
   color: #b64036;
}

.heavy {
   font-style: normal;
   font-weight: bold;
}

.clearfix:before,
.clearfix:after {
   content: "";
   display: table;
   clear: both;
}
/*  Container section */
.container {
   padding: 0 2% 0 2%;
   margin: 0 auto;
   max-width: 1240px;
   width: 100%;
}

section {
   padding: 4rem 0;
}

section h2 {
   text-align: center;
}
/* Header section of the page */
.pageHeader {
    padding-bottom: .5rem;
    padding-top: 1rem;
}
.logo {
   float: left;
   width: 50px;
   height: auto;
}

.cart {
   cursor: pointer;
   float: right;
   width: 200px;
}
/* Hiding the word aloha */
.headerH1 {
  display: none;
}

/* Hero section -the flower and girl background */
.hero {
   background:
      linear-gradient( to bottom, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.25) 100% ),
      url('../images/banner-girl.png') no-repeat center 155px,
      url('../images/flower-bkgd.jpg') repeat-x center top;
   background-size: cover, 250px 615px, contain;
    
   height: 550px;
   position: relative;
}
.heroText {
   color: white;
   font-weight: bold;
   left: 50%;
   line-height: 1;
   position: absolute;
   text-align: center;
   text-shadow: 2px 2px 4px rgba(100, 100, 100, 0.8);
   text-transform: uppercase;
   top: 50%;
   transform: translate(-50%, -50%);
   width: 80%;
   font-family: "ralewaymedium";
}
.newCollection {
  font-size: 1.25rem;
  margin-bottom: 1.5rem;

}
.season {
   font-family: 'Playfair Display Web', serif;
   font-size: 4rem;
   font-weight: normal;
   text-transform: none;
}
.bigBold {
  font-style: normal;
  font-weight: bold;
}
/*  Section HandCrafted */
.handCraftedStyle   {
   width: 720px;
   text-align: center;
   font-size: 4rem;
}
.handCraftedStyle {
  font-family: 'Playfair Display Web', serif;
}
.handCraftedParagraph {
   font-size: 1.15rem;
}

.bigItalic {
  font-style: italic;
} 
.handCrafted {
  border-bottom: 1px solid #d7d7d7;
}

/* Section Most Loved */
.mostLovedUL {
  list-style: none;
  display: inline-block;
}
.mostLovedLI {
   float: left;
   /*padding: 0 1rem;*/
   text-align: center;
   width: 25%;
}
.mostLovedContent, .largeTextItalic, .subscribeContent {
  width: 720px;
  text-align: center;
  margin: 0 auto;
  font-size: 4rem;
}
.itemType, .price {
   font-weight: bold;
   color: #969696;
}
.itemType {
   font-size: 0.75rem;
   margin-bottom: .75rem;
   text-transform: uppercase;
}
/* Section */
.subscribe {
  background: linear-gradient( to bottom, rgba(0,0,0,0.15) 0%, rgba(0,0,0,0.15) 100% ), url(../images/wave-bkgd.jpg) no-repeat center bottom;
  background-size: cover;
  width: 100vw;
  /*width: 720px;*/
  text-align: center;
  font-size: 4rem;
  color: white;
  font-family: "playfair_displayregular";
}
.subscribeParagraph {
   font-size: 1.15rem;
   color: white;

}

input[type="email"], input[type="button"] {    
   border-radius: 25px;
   border: 0;
}
input[type="email"]{
  width: 400px;
  height: 2.5rem;
  padding-left: 1rem;
}

input[type="value"]{
  padding-right: 20px;
}

input[type="button"] {
  font-weight: bold;
  background-color: #e2574c;
  /*position: absolute;*/
  cursor:pointer;
  margin-left: -110px;
}

   
/*  */
footer {
  background-color: #242424;
  color: white;
}
.footerLeft {
  float:left;
}
.footerRight {
  float: right;
}
.footerLI {
  margin-left: 8px;
}

